.text {
    background-color: blueviolet;
    margin: auto;
    border: 3px solid green;
    text-align: center;
}

.girlsmile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}