.header-page ul li{
    display: inline-block;
    margin-right: 20px;

}



.header-page ul li a{
    color: green;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: larger;
}

.header-page ul li a:hover{
    color: greenyellow;
    text-decoration: none;
    transition-duration: 0.2s;
}

body {
    background: url("assets/svg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#bread-icon {
    height: 50px;
}

.left-header {
    display: flex;
}

.right-header {
    display: right;
}
